<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

<h2>Jobs Matching this applicant's skills</h2>

<form id="skillForm" method="get" action="/tAs/applicants/{{applicant_id}}/refer/{{tA_id}}/job">

	<input type="text" placeholder="Type something here" />

	
	<div id="checkbox-container">
	  <div>
		<label for="option1">Php</label>
		<input type="checkbox" onchange="$('#skillForm').submit();" id="option1" name="Php">
	  </div>
	  <div>
		<label for="option2">Java</label>
		<input type="checkbox" onchange="$('#skillForm').submit();" id="option2" name="Java">
	  </div>
	  <div>
		<label for="option3">C++</label>
		<input type="checkbox" onchange="$('#skillForm').submit();" id="option3" name="C">
	  </div>
	  <div>
		<label for="option4">Node</label>
		<input type="checkbox" onchange="$('#skillForm').submit();" id="option4" name="Node">
	  </div>
	  <div>
		<label for="option5">Language</label>
		<input type="checkbox" onchange="$('#skillForm').submit();" id="option5" name="Language">
	  </div>
	  <button>Check All</button>
	</div>

	<script type="text/javascript">
		var formValues = JSON.parse(localStorage.getItem('formValues')) || {};
		var $checkboxes = $("#checkbox-container :checkbox");
		var $button = $("#checkbox-container button");

		function allChecked(){
			return $checkboxes.length === $checkboxes.filter(":checked").length;
		}

		function updateButtonStatus(){
			$button.text(allChecked()? "Uncheck all" : "Check all");
		}

		function handleButtonClick(){
			$checkboxes.prop("checked", allChecked()? false : true)
		}

		function updateStorage(){
			$checkboxes.each(function(){
				formValues[this.id] = this.checked;
			});

			formValues["buttonText"] = $button.text();
			localStorage.setItem("formValues", JSON.stringify(formValues));
		}

		$button.on("click", function() {
			handleButtonClick();
			updateButtonStatus();
			updateStorage();
		});

		$checkboxes.on("change", function(){
			updateButtonStatus();
			updateStorage();
		});

		// On page load
		$.each(formValues, function(key, value) {
			$("#" + key).prop('checked', value);
		});

		$button.text(formValues["buttonText"]);
	</script>

</form>



{{#each jobs}}
  <div class="block">
		  <h3>{{title}}</h3>
		  <p><strong>Company: </strong>{{company}}</P>
		  <p><strong>Description: </strong>
			  {{description}}
	  </p>
			
			<a class='button' href='/tAs/applicants/{{../applicant_id}}/refer/{{../tA_id}}/job/{{_id}}'> Refer the applicant to this job </a>
		  <a class='button' href='/jobs/{{_id}}/details/'> Job Details </a>
  </div>
{{/each}}