<html><head>
<title>XpertsCatch</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="" />
<meta name="copyright" content="" />
<link rel="stylesheet" type="text/css" href="/stylesheets/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" />                    <!-- CUSTOM STYLES -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/kickstart.js"></script>                                  <!-- KICKSTART -->
</head><body>

<!-- Menu Horizontal -->
<ul class="menu">
<!-- Later you can user this to give different menue options to different users -->
<!--{{#if user}} -->
<!--{{else}}-->
    <li class="current"><a href="/">Home</a></li>
    <li><a href="/jobs">Jobs</a></li>
    <li><a href=""><span class="icon" data-icon="R"></span>Item 3</a>
            <ul>
            <li><a href=""><i class="fa fa-car"></i> Sub Item</a></li>
            <li><a href=""><i class="fa fa-arrow-circle-right"></i> Sub Item</a>
                    <ul>
                    <li><a href=""><i class="fa fa-comments"></i> Sub Item</a></li>
                    <li><a href=""><i class="fa fa-check"></i> Sub Item</a></li>
                    <li><a href=""><i class="fa fa-cutlery"></i> Sub Item</a></li>
                    <li><a href=""><i class="fa fa-cube"></i> Sub Item</a></li>
                    </ul>
            </li>
            <li class="divider"><a href=""><i class="fa fa-file"></i> li.divider</a></li>
            </ul>
    </li>
<!--{{/if}}-->
</ul>

<div class="grid">

<!-- ===================================== END HEADER ===================================== -->
{{#if messages.error}}
<ul class="error">{{{messages.error}}}</ul>
{{/if}}
{{#if messages.success}}
<ul class="success">{{{messages.success}}}</ul>
{{/if}}
{{#if messages.info}}
<ul class="info">{{{messages.info}}}</ul>
{{/if}}


<!--<container>
{{{messages.success}}}
{{{messages.error}}}
{{{messages.info}}}
</container>-->
<div class="col_12">
        <div class="col_9">
            {{#if errors}}
               {{#each errors}}
                  <div class="notice error"><i class="icon-remove-sign icon-large"></i>
                  {{msg}}
                  <a href="#close" class="icon-remove"></a></div>
               {{/each}}
            {{/if}}
        {{{body}}}
        </div>

        <div class="col_3">
        {{>login}}
        </div>

        <hr />
         
        {{#if isHome}}
          {{>jobs}}
        {{/if}}
</div>

</div><!-- END GRID -->

<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer">
&copy; Copyright XpertsCatch co. 2016 All Rights Reserved. 
</div>

</body></html>
