<h2>{{job.title}}</h2>
<p>
  <strong>Company: </strong>{{job.company}}
</p>
<p>
  <strong>Description: </strong>{{job.description}}
</p>

{{#if user}}
  <form id="jobRegFrom" method="post" action="/{{user.type}}s/jobes/register">
    <input type="hidden" name="student_username" value="{{user.username}}">
    <input type="hidden" name="job_id" value="{{job._id}}">
    <input type="hidden" name="job_title" value="{{job.title}}">
    <input type="submit" job="button" value="Register For This Class">
  </form>
{{else}}
  <p><em>You must be logged in to register for jobes</em></p>
{{/if}}
