<h2>{{tA.first_name}}'s Referrals</h2>
<a href="/tAs/applicants/{{tA._id}}/add">Add a New Applicant</a>
<hr />

{{#if tA.applicants}}
<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Applicant ID</th>
      <th>First Name</th>
      <th>First Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each tA.applicants}}
      <tr>
        <td>{{applicant_id}}</td>
        <td>{{applicant_first_name}}</td>
        <td><a href="/jobs/{{applicant_id}}/lessons">View Details</a></td>  
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  <p>This tA does not have any Refferals</p>
{{/if}}
